body {
    background-color: silver;
    
}
#background {
    margin: auto;
    background-color:#4B5A9D;
    width: 850px;
    height: 400px;
    position: relative;
}

#footPerfil {

    background-color:#FFF;
    width: 850px;
    height: 60px;
    position: absolute;
    bottom: 0;
}

#perfil {
    background-color: #4B5A9D;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.74);
    border-radius: 4px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 182px;
    left: 13px;
    
}

#nome {
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF;
    position: absolute;
    top: 280px;
    left: 230px;
    font-size: 24px;

}

#website {
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF;
    position: absolute;
    top: 315px;
    left: 230px;

}

#quadro {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 230px;
    margin-top: 20px;
    font-size: 17px;
    
}

#quadro span {
 
    padding: 10px;
}

#about, #welcome, #fwb {
    border-right: solid;
    border-width: 2px;
    border-color: #E6E7EA;
}

#timeline {
    font-weight: bold;
    border-bottom: 2px #4B5A9D solid;
}

#follow, #pontos, #message {
 
    margin: -3px;
    padding: 5px;
    

}

#quadroBackground {
    position: absolute;
    margin-left: 571px;
    top: 299px;
    font-family: Arial, Helvetica, sans-serif;
    

    
    
}

#like {
    margin-right: 10px;
    padding: 5px;
    color: #464C5A;
}

#follow {
    color: rgba(70, 76, 90, 0.459);
    
}

#pontos , #message {
    color: #464C5A;
}

#colunas {
    margin: auto;
    margin-top: 20px;
    width: 850px;
    height: 600px;
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

#colunaEsquerda {
    width: 328px;
    height: 200px;
    background-color: #FFF;
    position: absolute;

    
}

#colunaDireita {
    width: 512px;
    height: 341px;
    background-color: #FFF;
    margin-left: 338px;

    display: inline-block;
}

#conteudoEsquerda {
    border-top: 1px #E1E1E1 solid;
    padding-top: 2px;
    border-bottom: 1px #E1E1E1 solid;
    position: relative;
}

#fotinha {
    background-color: #4B5A9D;
    width: 60px;
    height: 60px;
    margin-top: 13px;
    margin-left: 13px;
    display: inline-block;
}

#perfilPublicacao {
    position: absolute;
    margin-top: 25px;
    margin-left: 10px;
}

#tempoPublicacao {
    position: absolute;
    margin-left: 10px;
    margin-top: 50px;
    color: #6F6F6F;
    font-size: 14px;
}

#publicacao {
    background-color: #4B5A9D;
    width: 512px;
    height: 200px;
    margin-top: 13px;
}

#likePublicacao {
    background-color: #F5F6F7;
    width: 512px;
    height: 40px;
    margin-top: 10px;
    position: relative;
    border-top: #CED0D6 solid 1px;
}

#likePublicacao p {
    position: absolute;
    margin-top: 13px;
    margin-left: 30px;
    color: #3C4D90;
}